.button-nav {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: 30px;
	height: 38px;
	white-space: nowrap;

}
.pagination {
	display: flex;
	justify-content: center;
	&__list {
		display: flex;
		align-items: center;
		column-gap: 14px;
	}
	&__item {
		display: flex;
	}
	&__btn {
		width: 10px;
		aspect-ratio: 1;
		border-radius: 50%;
		border: 1px solid white;
		background-color: transparent;
		&--active {
			border: none;
			background-color: white;
		}
	}
}
