//colors
$black: #000000;
$dark-grey: #131619;
$light-grey-text: #C4C4C4;
$light-grey: #404040;
$white: #FFFFFF;

//radius
$radius: 30px;
// borders
$border-white: 1px solid $white;
$border-grey: 1px solid $light-grey;
//buttons & fields
$btn-height: 54px;

